<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .mustLogin{
            width: 200px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            background-color: #a41111;
            transform: translate(-50%,-50%);
            text-align: center;
            line-height: 100px;
            color: #fff;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div>
    <a class="mustLogin" href="/need">请先登录</a>
</div>
</body>
</html>